{
    "polygon_template_one":{
        "polygon_1":{
            "corner_1": {
                "x": 0.15,
                "y": 0.15
            },
            "corner_2":{
                "x": 0.3,
                "y": 0.15
            },
            "corner_3":{
                "x": 0.15,
                "y": 0.4
            }
        },
        "polygon_2":{
            "corner_1": {
                "x": 0.6,
                "y": 0.15
            },
            "corner_2":{
                "x": 0.85,
                "y": 0.15
            },
            "corner_3":{
                "x": 0.85,
                "y": 0.3
            }
        },
        "polygon_3":{
            "corner_1": {
                "x": 0.7,
                "y": 0.85
            },
            "corner_2":{
                "x": 0.85,
                "y": 0.6
            },
            "corner_3":{
                "x": 0.85,
                "y": 0.85
            }
        },
        "polygon_4":{
            "corner_1": {
                "x": 0.15,
                "y": 0.7
            },
            "corner_2":{
                "x": 0.15,
                "y": 0.85
            },
            "corner_3":{
                "x": 0.4,
                "y": 0.85
            }
        },
        "polygon_5":{
            "corner_1": {
                "x": 0.5,
                "y": 0.4
            },
            "corner_2":{
                "x": 0.6,
                "y": 0.5
            },
            "corner_3":{
                "x": 0.5,
                "y": 0.6
            },
            "corner_4":{
                "x": 0.4,
                "y": 0.5
            }
        },
        "polygon_6":{
            "corner_1": {
                "x": 0,
                "y": 0
            },
            "corner_2":{
                "x": 0,
                "y": 1
            },
            "corner_3":{
                "x": 1,
                "y": 1
            },
            "corner_4":{
                "x": 1,
                "y": 0
            }
        },
        "polygon_7":{
            "corner_1": {
                "x": 0.45,
                "y": 0.15
            },
            "corner_2":{
                "x": 0.5,
                "y": 0.15
            },
            "corner_3":{
                "x": 0.85,
                "y": 0.45
            },
            "corner_4":{
                "x": 0.85,
                "y": 0.5
            }
        },
        "polygon_8":{
            "corner_1": {
                "x": 0.15,
                "y": 0.5
            },
            "corner_2":{
                "x": 0.15,
                "y": 0.55
            },
            "corner_3":{
                "x": 0.45,
                "y": 0.85
            },
            "corner_4":{
                "x": 0.5,
                "y": 0.85
            }
        }
    }

}