{
    "polygon_set": "polygon_template_one",
    "n_variables": 3,
    "c1": 0.5,
    "c2": 0.5,
    "w": 0.9,
    "n_particles": 200,
    "n_iterations": 20,
    "n_threads": 12,
    "max_simulation_steps": 100,
    "n_simulated_particles": 1,
    "variable_1_lower_bound": 0.0001,
    "variable_1_upper_bound": 10,
    "variable_2_lower_bound": 0.0001,
    "variable_2_upper_bound": 10,
    "variable_3_lower_bound": 0.0001,
    "variable_3_upper_bound": 10
}