{
    "c1": 0.5,
    "c2": 0.3,
    "w": 0.9,
    "n_particles": 200,
    "n_iterations": 12,
    "n_threads": 12,
    "polygon_set": "polygon_template_one",
    "n_variables": 6,
    "max_simulation_steps": 100,
    "n_simulated_particles": 4,
    "variable_1_lower_bound": 0.0001,
    "variable_1_upper_bound": 1,
    "variable_2_lower_bound": 0.0001,
    "variable_2_upper_bound": 1,
    "variable_3_lower_bound": 0.0001,
    "variable_3_upper_bound": 1,
    "variable_4_lower_bound": 0.0001,
    "variable_4_upper_bound": 1,
    "variable_5_lower_bound": 0.00001,
    "variable_5_upper_bound": 0.1,
    "variable_6_lower_bound": 0.00001,
    "variable_6_upper_bound": 0.1
}