{
    "n_variables": 2,
    "c1": 2,
    "c2": 2,
    "w": 0.9,
    "n_particles": 200,
    "n_iterations": 15,
    "n_threads": 10,
    "max_simulation_steps": 100,
    "variable_1_lower_bound": 0.0001,
    "variable_1_upper_bound": 500,
    "variable_2_lower_bound": 0,
    "variable_2_upper_bound": 1
}